body {
  background-color: #3b3b3b;
  margin-top: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  margin: 50px auto 0;
  text-align: center;
  color: #c91df0;
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
}

.scores {
  max-width: 500px;
  margin: 20px;
  position: relative;
}

.playerOne {
  display: inline-block;
  min-width: 60%;
}

.playerTwo {
  display: inline-block;
  min-width: 38%;
}

.scores button {
  display: inline-block;
  text-align: center;
  color: #8a8a8a;
  height: 20px;
  width: 70px;
  border-radius: 10px;
  font-weight: bold;
}

.scores h4 {
  margin: 10px;
  display: inline-block;
  color: #f7bae9;
}

.playerOneScore .playerTwoScore {
  font-size: 20px;
  padding: 10px
}

.turn {
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 30px;
}

.boardgame {
  margin: 40px auto;
  vertical-align: middle;
  max-width: 308px;
  max-height: 308px;
  position: relative;
  background-color: #8a8a8a;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #3b3b3b;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

.gameStatus {
  text-align: center;
  color: #8a8a8a;
}

.hidden {
  visibility: hidden;
}

footer {
  margin: 40px 40px;
  font-size: 15px;
  text-align: right;
}
